# Локальная настройка idea
.idea/

# Директория виртуального окружения
.venv/
venv/
env/

# Скомпилированные файлы Python
*.pyc
__pycache__/

# Файлы настроек и логи
*.log
*.ini
*.cfg
*.env

# Папка с отчетами о тестировании
reports/